In [41]:
from assets.utils.txt import read_txt
import pandas as pd

row = read_txt('./data/custom_movie_rating.txt')
column_names = ["CustomID", "MovieID", "MovieName", "Rating"]
custom_movie_rating_df = pd.DataFrame(row, columns=column_names)
# custom_movie_rating_df.to_csv('custom_movie_rating.csv', index=False)
custom_movie_rating_df

            CustomID  MovieID      MovieName Rating
0      ZBm5R0Mj7qd46  m5XKVDL          양자물리학  3.0\n
1      ZBm5R0Mj7qd46  m5Nn2GE        영화로운 작음  3.5\n
2      ZBm5R0Mj7qd46  mWvq0vZ            내 방  2.5\n
3      ZBm5R0Mj7qd46  mdKpyBk       성적표의 김민영  3.0\n
4      ZBm5R0Mj7qd46  mOopbwm   킹덤4: 대장군의 귀환  3.0\n
...              ...      ...            ...    ...
85886  JZ4vBd2dJxRXO  m5ZXaxK        나이트 크롤러  3.5\n
85887  JZ4vBd2dJxRXO  m6dRjyd         광복절 특사  2.0\n
85888  JZ4vBd2dJxRXO  mNdKPR5       말죽거리 잔혹사  2.5\n
85889  JZ4vBd2dJxRXO  m45n9dN           박하사탕  4.5\n
85890  JZ4vBd2dJxRXO  mO0gZ8X  킹스맨: 시크릿 에이전트  3.5\n

[85891 rows x 4 columns]

In [42]:
row = read_txt('./data/movie_info_watcha.txt')
column_names = ["MovieID", "Title", "Year", "Genre", "Country", "Runtime", "Age", "Cast_Production_Info_List", "Synopsis", "Avg_Rating", "N_Rating(만명)","N_Comments"]
movie_info = pd.DataFrame(row, columns=column_names)

In [47]:
# movie_info.to_csv('./movie_info_watch.csv', index=False)

In [ ]:
column_names = ["MovieID", "CustomID", "Comment", "Rating", "N_Likes"]
row = read_txt("./data/movie_comments.txt")

# 각 청크를 병합하여 데이터프레임 생성
movie_comments_df = pd.DataFrame(row, columns=column_names)

In [53]:
import csv

movie_comments_df.to_csv(
    './movie_comments_df.csv',
    index=False,         # 인덱스 제외
    quoting=csv.QUOTE_ALL,  # 모든 필드를 따옴표로 감싸기
    escapechar='\\',     # 특수 문자 이스케이프
    doublequote=True     # 이중 따옴표 허용
)